services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    image: node:20-alpine
    working_dir: /app
    depends_on:
      - db
    environment:
      NODE_ENV: development
      PORT: 5000
      DATABASE_URL: postgres://appuser:apppass@db:5432/appdb
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    # change to "npm start" if you don't have a dev script
    command: sh -c "npm install && node ./server.js"


  frontend:
    image: node:20-alpine
    working_dir: /app
    depends_on:
      - backend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run start -- --host 0.0.0.0 --port 4200"

volumes:
  pgdata:
